@font-face {
    font-family: 'Chronicle';
    src: url('../../assets/fonts/Chronicle-Display-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'Chronicle-thin';
    src: url('../../assets/fonts/Chronicle-Display-Black.otf') format('opentype');
}