
.one{
    -webkit-animation-delay: 0.5s ;
    -moz-animation-delay: 0.5s ;
    animation-delay: 0.5s  ;
}

.animate{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode:  both;
}


.fadeIn{
    animation-name: 'FadeIn';
}

@-webkit-keyframes FadeIn {
    from{
        opacity: 0;
        -webkit-transform: translate3d0(0 ,0, 100%);
        transform: translate3d(0 ,0, 100%);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes FadeIn {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0 ,0, 100%);
        transform: translate3d(0 ,0, 100%);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeLeft{
    animation-name: 'FadeLeft';
}

@-webkit-keyframes FadeLeft {
    from{
        opacity: 0;
        -webkit-transform: translate3d0(-100% ,0, 0);
        transform: translate3d(-100% ,0, 0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes FadeLeft {
    from{
        opacity: 0;
        -webkit-transform: translate3d(-100% ,0, 0);
        transform: translate3d(-100% ,0, 0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.scrollDown{
    animation: 'scrollDown' 1s ease-in-out infinite ;
}

@keyframes scrollDown{
   from{
       opacity: 0.2;
       transform: translatey(-50%);
   }
   to{
       opacity: 1;
       transform: none;
   }
}