
.one{
    -webkit-animation-delay: 0.5s ;
    -moz-animation-delay: 0.5s ;
    animation-delay: 0.5s  ;
}

.animate{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode:  both;
}

.scrollDown{
    animation: 'scrollDown' 1s ease-in-out infinite ;
}

@keyframes scrollDown{
   from{
       opacity: 0.2;
       transform: translatey(-50%);
   }
   to{
       opacity: 1;
       transform: none;
   }
}

.fadeOut{
    animation: 'fadeOut' ;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode:  both;
    
}
@keyframes fadeOut{
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
 }

 .carousel-item{
    transition-duration: 5s;
    animation: 'FadeIn';
 }
  
  .carousel-fade .active.carousel-item-start{
    transition-duration: 4s;
    animation: 'FadeIn';
  }
  .carousel-fade .active.carousel-item-end {
    transition-duration: 4s;
  }
  


 @keyframes FadeIn {
     0%{
         transform: scale(1.1);
         opacity: 0.4;
     }
    100%{
        transform: scale(1);
        opacity: 1;
    }
  
    
 }