@import '__color';
@import '__function';
@import '__font-family';
@import '__animation';

body{
    // background-color: $BG !important;
    margin: 0;
    padding: 0;
    // rfs: true;
}


.bglist{
    background: $BG;
}
.front-x{
    height: 60%;
    // @media (max-width: 1440px) {
    //     height: 50%;
    //     width: 100%;
       
    // }
    @media (max-width:425px) {
        height: 50%;
        width: 100%;
    }
    @media (max-width:768px) {
        height: 45%;
        width: 100%;
    }
    @media (max-width: 900px) {
        height: 45%;
        width: 100%;
       
    }
    @media (max-width:400px) {
        height: 50%;
        width: 100%;
    }
    @media (max-width: 320px) {
        height: 50%;
        width: 100%;
       
    }
    @media (max-width: 292px) {
        height: 45%;
        width: 100%;
       
    }
    
}

.front{
    padding: 0 0% 0 10%;
    @media (max-width:900px) {
        padding: 0 15% 0 5%;
    }
    @media (max-width:786px) {
        padding: 0 20% 0 5%;
    }
    img{
        display: none;
    }
    .front1{
        ::before {
            margin-right: 24px;
            background: $BG;
            height: 2px;
            content: '';
            width: 5.5vw;
        }
        span {
            color: $BG;
            @include Font-Adjustment('Overpass Mono', normal, 700, 18px,22.79px);
            letter-spacing: 6px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: start;
            
            @media (max-width: 768px) {
                @include Font-Adjustment('Overpass Mono', normal, 700,14px,0);
            }
            @media (max-width: 425px) {
                @include Font-Adjustment('Overpass Mono', normal, 700,11px,0);
            }
            @media (max-width: 320px) {
                @include Font-Adjustment('Overpass Mono', normal, 700,8px,0);
            }
            @media (max-width: 290px) {
                @include Font-Adjustment('Overpass Mono', normal, 700,8px,0);
            }
        }
    }
    .front2{
        padding: 0 0 8px 0;
        color: $WeiB;
        @include Font-Adjustment('Chronicle', normal, 0,  76px ,83px);
        text-transform: capitalize;
        @media (max-width: 1400px) {
            @include Font-Adjustment('Chronicle', normal, 0,70px ,80px);
           
        }
        @media (max-width: 1300px) {
            @include Font-Adjustment('Chronicle', normal, 0,60px ,60px);
           
        }
        @media (max-width: 1000px) {
            @include Font-Adjustment('Chronicle', normal, 0,54px ,72px);
           
        }
        
        @media (max-width: 900px) {
            @include Font-Adjustment('Chronicle', normal, 0,54px ,72px);
           
        }
        
       
        @media (max-width: 768px) {
            @include Font-Adjustment('Chronicle', normal, 0,44px ,62px);
           
        }
        @media (max-width: 620px) {
            @include Font-Adjustment('Chronicle', normal, 0,34px ,42px);
           
        }
        @media (max-width: 475px) {
            @include Font-Adjustment('Chronicle', normal, 0,24px ,32px);
            padding: 0;
        }
        @media (max-width: 320px) {
            @include Font-Adjustment('Chronicle', normal, 0,20px ,22px);
            padding:  0;
        }
        @media (max-width: 292px) {
            @include Font-Adjustment('Chronicle', normal, 0,16px ,22px);
            padding:  0;
        }
    }
    a {
        
        text-decoration: none;
        color: $WeiB;
        @include Font-Adjustment('Overpass Mono', normal, 600,18px,22.79px);
        @media (max-width: 768px) {
            @include Font-Adjustment('Overpass Mono', normal, 600,14px,0);
        }
        @media (max-width: 425px) {
            @include Font-Adjustment('Overpass Mono', normal, 600,11px,0);
           
        }
        @media (max-width: 292px) {
            @include Font-Adjustment('Overpass Mono', normal, 600,8px,0);
           
        }
        .fa-solid {
            display: inline-block;
            align-self: center;
            font-size: 1vw;
            padding: 3px 1px 1px 7px;
            position: relative;
            bottom: 0;
            transition: bottom ease 0.5s;
            line-height: 0 !important;
           @media (max-width:425px) {
            font-size: 3vw;
           }
        }
        &:hover {
            color: $WeiB;
            text-decoration: none;
            .fa-solid {
                bottom: -2px;
            }
        }
    }
}

.carousel-item {
    height: 200vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0 15%;
    @media (max-width:425px)  {
        padding: 0 0;
    }
    @media (max-width:900px)  {
        padding: 0 0;
    }
  }
  
.carousel-item.active,
.carousel-item-left,
.carousel-item-right {
display: flex !important;
justify-content: center;
align-items: center;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1 !important;
    
}

.carousel-indicators{
    margin: 0 !important;
    display: flex;
    justify-content: start !important;
    flex-direction: column;
    align-items: end;
    // top: 22vw;
    padding-right: 5vw !important;
    height: 75%;
    @media (max-width:1024px) {
        // top: 23vw !important;
    }
    @media (max-width:425px) {
        padding-right: 0vw !important;
    }
    
    & [data-slide-to] {
        @include Font-Adjustment('Overpass Mono', normal, 600,18px, 22.79px); 
        color: $WeiB;
        text-indent: -7vw !important;
        text-align: center;
        height: 2.7vw !important;
        width: 0.3vw !important;
        background-clip: border-box !important;
        background-color: $WeiB !important;
        @media (max-width:844px) {
            text-indent: -11vw !important;
        }
        @media (max-width: 768px) {
            @include Font-Adjustment('Overpass Mono', normal, 600, 10px, 22.79px);
            text-indent: -11vw !important ;
            height: 2.3vw  !important;
            width: 0.5vw !important;
            // border: 0 !important;
            // margin: 0 !important;
        }
        @media (max-width:425px) {
            width: 1vw !important;
        }
        @media (max-width:292px) {
            text-indent: -16vw !important;
            width: 0.2vw;
        }
    }
    &.active{
        opacity: 1 !important; 
    }
    // @media (max-width:860px) {
    //     margin: 0;
    //     display: flex;
    //     justify-content: center !important;
    //     flex-direction: row !important;
    //     align-items:  end !important;
    //     padding-bottom: 5vw !important;
    // }
    }


.carousel-control-prev{
    opacity: 1;
    @media screen and (min-width: 900px) {
        bottom: auto!important;
        top: 47vh!important;
    }
    .follow{
        writing-mode: vertical-rl;
        color: $WeiB;
        @include Font-Adjustment('Overpass Mono', normal, 600, 18px,22.79px);
        @media (max-width:990px) {
           
        }
        @media (max-width:900px) {
            display: none;
        }
        
        
    }
}
/* Icon 1 */
header{
    background: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    .navbar {
        width: 100%;
        box-shadow: none;
        .logo {
          padding: 0;
          color: $WeiB;
          @include Font-Adjustment('Chronicle-thin', normal, 700, 32px, 38.4px);
          letter-spacing: 0.01em;
        }
        .navlist {
            ul {
                li {
                    a {
                        padding-left: 3.5rem !important;
                        color: $WeiB;
                        @include Font-Adjustment('Overpass Mono', normal, 600, 18px, 22.79px);
                    }
                }
            }
        }

        .account {
                color: $WeiB;
                @include Font-Adjustment('Overpass Mono', normal, 600, 17px, 21.52px);
                img{
                   font-size: 1.181vw;
                }
        }
    }
    .king {
        // padding-top: 4.5vw;
        padding-left: 66px;
    }
    .animated-icon1{
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
          }
          span {
            background: #e65100;
          }
          span:nth-child(1) {
            top: 0px;
           }
           span:nth-child(2) {
            top: 10px;
          }
          span:nth-child(3) {
            top: 20px;
          }
      }
      
      
    .animated-icon1.open{
        span:nth-child(1) {
            top: 11px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            }
        span:nth-child(2) {
            opacity: 0;
            left: -60px;
            }
        span:nth-child(3) {
            top: 11px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
            }
        } 
}
.carousel{
    position: relative;
    width: 100%;
    height: 200vh;
    // height: 1690px;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}



.secondpara {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 10.38%);
    position: absolute;  
    left: 0;
    top: 67vw;
    transform: translate(0%, -2%);
    -webkit-transform: translate(0%,-2%);
    z-index: 2;
    @media (max-width: 768px) {
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 3.38%);
    }
    .seconddivlap{
        display: block;
        .second {
            background: transparent;
            .secondimage {
                height: 50%;
                object-fit: cover;
                img {
                    max-width: 100%;
                }
            }
            .secondtext {
                background-color: transparent;
                flex-wrap: wrap;
                display: block;
                max-width: 100%;
                height: auto;
                @media (max-width: 1440px)  {
                    padding-left: 5vw;
                }
                @media (max-width: 1200px)  {
                    padding-left: 0;
                }
                .sectext1 {
                    ::before {
                        margin-right: 24px;
                        background: $Accent;
                        height: 2px;
                        content: '';
                        width: 72px;
                    }
                    span {
                        color: $Accent;
                        @include Font-Adjustment('Overpass Mono', normal, 'bold', 18px, 23px);
                        letter-spacing: 6px;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                    }
                }
                .sectext2 {
                    color: $WeiB;
                    @include Font-Adjustment('Chronicle', normal, 0,65px, 76.8px);
                    
                }
                .sectext3 {
                        color: $WeiB;
                        @include Font-Adjustment('Overpass Mono', normal, 600, 18px, 35px);     
                        @media (max-width:1024px) {
                            @include Font-Adjustment('Overpass Mono', normal, 600, 16px, 28px);     
                        }
                }
                a {
                    text-decoration: none;
                    color: $Accent;
                    @include Font-Adjustment('Overpass Mono', normal, 600, 18px, 23px);
                    .fa-solid {
                        display: inline-block;
                        align-self: center;
                        font-size: 20px;
                        padding: 3px 1px 1px 7px;
                        position: relative;
                        right: 0;
                        transition: top ease 0.5s;
                    }
                    &:hover {
                        .fa-solid {
                            right: -10px;
                        }
                    }
                }
            }
        }
    }
    .seconddivmobile{
        // background-color: $BG;
        display: none;
        .second {
            background: transparent;
            .secondimage {
                height: 50%;
                object-fit: cover;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
            .secondtext {
                background-color: transparent;
                flex-wrap: wrap;
                display: block;
                max-width: 100%;
                height: auto;
                @media (max-width: 1440px)  {
                    padding-left: 5vw;
                }
                @media (max-width: 1200px)  {
                    padding-left: 0;
                }
                .sectext1 {
                    ::before {
                        margin-right: 24px;
                        background: $Accent;
                        height: 2px;
                        content: '';
                        width: 72px;
                    }
                    span {
                        color: $Accent;
                        @include Font-Adjustment('Overpass Mono', normal, 'bold', 18px, 23px);
                        letter-spacing: 6px;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                    }
                }
                .sectext2 {
                    color: $WeiB;
                    @include Font-Adjustment('Chronicle', normal, 0, 58px, 76.8px);
                }
                .sectext3 {
                        color: $WeiB;
                        @include Font-Adjustment('Overpass Mono', normal, 600, 18px, 35px);
                        flex: none;
                        order: 2;
                        align-self: center;
                        flex-grow: 0;
                        margin: 27px 0px;
                }
                a {
                    text-decoration: none;
                    color: $Accent;
                    @include Font-Adjustment('Overpass Mono', normal, 600, 18px, 23px);
                    .fa-solid {
                        display: inline-block;
                        align-self: center;
                        font-size: 20px;
                        padding: 3px 1px 1px 7px;
                        position: relative;
                        right: 0;
                        transition: top ease 0.5s;
    
                    }
                    &:hover {
                        .fa-solid {
                            right: -10px;
                        }
                    }
                }
            }
        }
    }
    // footer
    .footer {
        background-color: $BG;
        .footers {
            .foottext {
                .text-1 {
                    color: $WeiB;
                    @include Font-Adjustment('Chronicle', normal, 0, 32px, 38px);
                    letter-spacing: 0.01em;
                    text-transform: capitalize;
                }

                .text-2 {
                    color: $WeiB;
                    @include Font-Adjustment('Overpass Mono', normal, 600, 18px, 32px);
                    @media (max-width: 1440px)  {
                        padding-right: 22vw;
                    }
                    @media (max-width: 1200px)  {
                        padding-right: 0;
                    }
                
                }

                .text-3 {
                    color: $WeiB;
                    opacity: 0.5;
                    @include Font-Adjustment('Overpass Mono', normal, 500, 18px, 32px);


                }
            }

            .footlist {
                p {
                    color: $Accent;
                    @include Font-Adjustment('Overpass Mono', normal, 600, 22px, 32px)
                }

                ul {
                    li {

                        a {
                            @include Font-Adjustment('Overpass Mono', normal, 500, 18px, 32px);
                            color: $WeiB;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 1200px) and (max-width:1440px){
        top: 69vw;
        transform: translate(0%, -2%);
        -webkit-transform: translate(0%,-2%);
    }
    @media only screen and (min-width: 964px) and (max-width:1200px){
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 4.38%);
        top: 80vw;
        transform: translate(0%, 2%);
        -webkit-transform: translate(0%,2%);
    }
    @media only screen and (min-width: 845px) and (max-width:964px){
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 3.38%);
        top: 91vw;
        transform: translate(0%, 10%);
        -webkit-transform: translate(0%,10%);
    }
    @media only screen and (min-width: 600px) and (max-width:845px){
        background: $BG;
        top: 153vw;
        transform: translate(0%, -2%);
        -webkit-transform: translate(0%,-2%);
    }
    @media only screen and (min-width: 690px) and (max-width:770px){
        background: $BG;
        top: 127vw;
        transform: translate(0%, 4%);
        -webkit-transform: translate(0%,4%);
    }
   @media (max-width: 690px){
    background: $BG;
    top: 120vw;
        transform: translate(0%, 5%);
        -webkit-transform: translate(0%,5%);
   }
   @media (max-width: 625px){
        top: 110vw;
        transform: translate(0%, 6%);
        -webkit-transform: translate(0%,6%);
   }
   @media (max-width: 600px){
    top: 110vw;
    transform: translate(0%, 1%);
    -webkit-transform: translate(0%,1%);
    }
    @media (max-width: 550px){
        background: $BG;
        top: 115vw;
        transform: translate(0%, 3%);
        -webkit-transform: translate(0%,3%);
    }
    @media (max-width: 510px){
        background: $BG;
        top: 115vw;
        transform: translate(0%, 3%);
        -webkit-transform: translate(0%,3%);
    }
    @media (max-width: 490px){
        background: $BG;
        top: 115vw;
        transform: translate(0%, 4%);
        -webkit-transform: translate(0%,4%);
    }
    @media (max-width: 425px){
        top: 115vw;
        transform: translate(0%, 6%);
        -webkit-transform: translate(0%,6%);
    }
    @media (max-width: 390px){
        top: 123vw;
        transform: translate(0%, 7%);
        -webkit-transform: translate(0%,7%);
    }
    @media (max-width: 380px){
        top: 123vw;
        transform: translate(0%, 7%);
        -webkit-transform: translate(0%,7%);
    }
    @media (max-width: 360px){
        top: 123vw;
        transform: translate(0%, 6%);
        -webkit-transform: translate(0%,6%);
    }
    @media (max-width: 345px){
        top: 137vw;
        transform: translate(0%, 5%);
        -webkit-transform: translate(0%,5%);
    }
    @media (max-width: 320px){
        top: 128vw;
        transform: translate(0%, 7%);
        -webkit-transform: translate(0%,7%);
    }
    @media (max-width: 290px){
        top: 149vw;
        transform: translate(0%, 7%);
        -webkit-transform: translate(0%,7%);
    }
    @media (max-width :845px) {
         .seconddivlap{
             display: none;
         }
         .seconddivmobile{
             display: block;
         }
    }
}
#post-60{
    order: -1 !important;
   padding-right:  7rem !important;
    display: flex;
    justify-content: end !important;
    @media (max-width:1500px) {
        padding: 0rem 4rem!important;
    }
}
#post-58 , #post-62{
    padding-left:  7rem !important;
    @media (max-width:1500px) {
     padding: 0rem 4rem!important;
 }
 }
#card-60{
    //padding-left: 264px !important;
    display: flex;
    justify-content: start !important;
}
#card-58 , #card-62{
    display: flex;
    justify-content: end !important;
    @media (max-width: 2210px) {
        display: flex;
        justify-content: start !important;
    }
    @media (max-width: 1988px) {
        display: block;
    }
}



@media (min-width: 768px){
    html{
        font-size: 25%;
    }
}

@media (min-width: 1200px){
    html{
        font-size: 50%;
    }
}
@media (min-width: 1400px){
    html{
        font-size: 62.5%;
    }
}